.margen{
    margin: 20px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }

  .negro{
    color: black;
    font-weight: bold;
  }

  .patron{
    margin-top: 10px;
  }
  .example-full{
    width: 75%;
  }
  .nocMargen{
    margin-top: 10px;
  }
