<div class="tamaño">
  <div class="card" style="margin: 20px;">
      <div class="card-header">
          <h3>Capicidad agencia de autocuidado</h3>
      </div>
  <table class="table table-bordered">
      <thead class="thead">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Preguntas</th>
          <th scope="col">Respuestas</th> 
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Siento que mi estado de ánimo me permite cuidarme</td>
          <td>{{ caa.answer1 }}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Cuando duermo 6-8 horas diarias, me siento descansado.</td>
          <td>{{ caa.answer2 }}</td>    
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Invierto tiempo en mi propio cuidado</td>
            <td>{{ caa.answer3 }}</td>    
          </tr>
        <tr>
            <th scope="row">4</th>
            <td>Considero importante realizar ejercicio.</td>
             <td>{{ caa.answer4 }}</td>    
         </tr>
         <tr>
              <th scope="row">5</th>
              <td>Busco información y orientación sobre el manejo de mi enfermedad.</td>
              <td>{{ caa.answer5 }}</td>    
         </tr>
          <tr>
              <th scope="row">6</th>
              <td>Considero que conozco cómo actúan y las reacciones desfavorables de los medicamentos que tomo actualmente para controlar la presión arterial</td>
              <td>{{ caa.answer6 }}</td>    
              </tr>
          <tr>
               <th scope="row">7</th>
               <td>Cuando inicio un nuevo medicamento solicitó al profesional de enfermería que me proporcione información necesaria sobre la correcta administración</td>
               <td>{{ caa.answer7 }}</td>    
          </tr>
           <tr>
                <th scope="row">8</th>
                <td>Considero que la cantidad máxima de sal que puedo utilizar para todo el día en la preparación y consumo de alimentos son dos cucharaditas</td>
                <td>{{ caa.answer8 }}</td>    
           </tr>
            <tr>
                <th scope="row">9</th>
                <td>Reemplazo mi tratamiento por terapias alternativas</td>
                <td>{{ caa.answer9 }}</td>    
                </tr>
            <tr>
                <th scope="row">10</th>
                <td>Considero que el profesional de enfermería me escucha y aclara mis inquietudes</td>
                <td>{{ caa.answer10 }}</td>    
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Conozco las complicaciones derivadas de la enfermedad.</td>
                <td>{{ caa.answer11 }}</td>    
                </tr>
            <tr>
                <th scope="row">12</th>
                <td>Camino diariamente, como mínimo, 30 minutos</td>
                <td>{{ caa.answer12 }}</td>    
            </tr>
            <tr>
                <th scope="row">13</th>
                <td>Realizo cambios según las necesidades para mantener la salud y manejar adecuadamente la enfermedad</td>
                <td>{{ caa.answer13 }}</td>    
            </tr>
            <tr>
                <th scope="row">14</th>
                <td>Realizo cambios en mi dieta para mantener un peso adecuado</td>
                <td>{{ caa.answer14 }}</td>    
            </tr>
            <tr>
                <th scope="row">15</th>
                <td>Evalúo si las medidas que he tomado en el manejo de mi enfermedad permiten garantizar mi bienestar y el de mi familia</td>
                <td>{{ caa.answer15 }}</td>    
            </tr>
            <tr>
                <th scope="row">16</th>
                <td>Consumo en mi dieta comidas ricas en verduras, frutas, fibra y baja en grasas.</td>
                <td>{{ caa.answer16 }}</td>    
            </tr>
            <tr>
                <th scope="row">17</th>
                <td>Siento que mi enfermedad ha generado dificultades en el desarrollo adecuado de mi vida sexual.</td>
                <td>{{ caa.answer17 }}</td>    
            </tr>
            <tr>
               <th scope="row"></th>
              <th>Gestion de autocuidado</th>
              <th>{{ caa.result }} </th>    
          </tr>

      </tbody>
    </table>
    </div>

<br>
</div>