.decorar{
    background-color: azure;
    margin: 20px;
    color:black;
    font-weight: bold;
    
};
.color{
    color: rgb(99, 91, 91);    
}

.david{
    margin-left: 850px;
    margin-top: 10px ;
}